.container, .container-loading {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 60vh;
	margin-top: 1em;
}

.container img {
	width: 50%;
	border-radius: 10px;
	z-index: 4;
}

.container .video {
	width: 30%;
	border-radius: 10px;
	z-index: 4;
}

.container button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: 0px;
	padding: 10px 10px;
	border: 2px solid #5a2a27;
	border-radius: 10px;
	font-size: 1.4rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	color: #EFEFEF;
	transition: .4s;
	cursor: pointer;
	z-index: 4;
}

.container button:hover {
	background-color: #5c4742;
	border: 2px solid #5a2a27;
}

.container-loading {
	flex-direction: row;
	gap: 5px;
}

.container-loading h1 {
	color: white;
}

.image-spin {
	animation: spin 1s linear infinite;
}

#image-spin-on-button svg {
	display: inline;
	width: 32px;
	height: 32px;
	animation: spin 1s linear infinite;
}

@media (max-width: 768px) {
	.container .video {
		width: 50%;
	}

	.container button {
		font-size: 1rem;
	}

	.container-loading h1 {
		font-size: 1rem;
	}
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}