* {
	padding: 0;
	margin: 0;
	font-family: Cambria, arial;
	box-sizing: border-box; 
}

body {
	background-color: #a5978b;
}

.circle {
	position: absolute;
	background-color: #5c4742;
	width: 400px;
	height: 400px;
	border-radius: 99999px;
	z-index: 0;
}

#circle1 {
	top: 80px;
	left: -200px;
	box-shadow: 0px -10px 10px -10px #5c4742;
}

#circle2 {
	bottom: 0px;
	right: 0px;
	box-shadow: 0px 2px 5px #5c4742;
}

@media (max-width: 768px) {
	.circle {
		width: 300px;
		height: 300px;
	}
}